<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colorValue</key>
        <string>#FF0000</string>
		<key>colorName</key>
		<string>Red</string>
	</dict>
    <dict>
        <key>colorValue</key>
        <string>#FFC0CB</string>
        <key>colorName</key>
        <string>Pink</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#800080</string>
        <key>colorName</key>
        <string>Purple</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#663399</string>
        <key>colorName</key>
        <string>Deep Purple</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#4B0082</string>
        <key>colorName</key>
        <string>Indigo</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#0000FF</string>
        <key>colorName</key>
        <string>Blue</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#87CEFA</string>
        <key>colorName</key>
        <string>Light Blue</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#00FFFF</string>
        <key>colorName</key>
        <string>Cyan</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#008080</string>
        <key>colorName</key>
        <string>Teal</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#008000</string>
        <key>colorName</key>
        <string>Green</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#90EE90</string>
        <key>colorName</key>
        <string>Light Green</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#00FF00</string>
        <key>colorName</key>
        <string>Lime</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#FFFF00</string>
        <key>colorName</key>
        <string>Yellow</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>‎#FF7E00</string>
        <key>colorName</key>
        <string>Amber</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#FFA500</string>
        <key>colorName</key>
        <string>Orange</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#FF4500</string>
        <key>colorName</key>
        <string>Deep Orange</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#A52A2A</string>
        <key>colorName</key>
        <string>Brown</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#808080</string>
        <key>colorName</key>
        <string>Grey</string>
    </dict>
    <dict>
        <key>colorValue</key>
        <string>#5F9EA0</string>
        <key>colorName</key>
        <string>Blue Gray</string>
    </dict>
</array>
</plist>
